name: CI

on: 
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    run-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      # TODO: установи зависимости
      # hint: pip install -r requirements.txt
      
      # TODO: запусти тесты
      # hint: pytest tests/ -v